/* ページ内共通 */

p {
  margin: 0;
}

.api-section {
  text-align: center;
}

.api-section:nth-of-type(n+2) {
  margin-top: 40px;
}

.api-section__title {
  margin: 0;
}

/* 天気予報 */

.weather-update-date {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

.weather-detail {
  margin-top: 24px;
  line-height: 1;
}

.weather-detail__icon {
  width: 50%;
  max-width: 100px;
}

.weather-detail__description {
  font-size: 18px;
  font-weight: 700;
}

.weather-detail-content {
  margin: 0;
}

.weather-detail-content:nth-of-type(n+2) {
  margin-top: 16px;
}

.weather-detail-content__text {
  font-weight: 700;
}

.weather-detail-content__text:nth-of-type(n+2) {
  margin-left: 16px;
}

.weather-detail-content__text--blue {
  color: #3b3bff;
}

.weather-detail-content__text--red {
  color: #ff3b3b;
}

/* ポケモン */

.pokemon-title {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 24px auto 0;
  border-bottom: 2px dotted #aaa;
  font-weight: 700;
}

.pokemon-title__detail {
  margin: 0;
}

.pokemon-title__detail:nth-of-type(n+2) {
  margin-left: 16px;
}
.pokemon-image {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.pokemon-image-content {
  flex: 1;
  min-width: 0;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 24px 40px;
}

.pokemon-image-content:nth-of-type(n+2) {
  margin-left: 40px;
}

.pokemon-text {
  width: 80%;
  margin: 24px auto 0;
}
