.App {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 300px;
  padding: 8px 24px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: bisque;
  cursor: pointer;
}

.title {
  margin: 0;
}

.contents {
  margin-top: 40px;
}
