.square {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.game {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.board {
  margin-top: 24px;
}

.board-row {
  display: flex;
  align-items: center;
}
